<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>License</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>			
How to activate the NeoQazaq keyboard:

1. Go to your device settings and select Keyboards.
2. Turn on "NeoQazaq".
3. Turn on "Allow Full Access".

Don't worry if "Full Access" sounds technical — it's actually quite simple. It just allows the keyboard to connect with the "NeoQazaq Keyboard app". This helps us gather general, anonymous usage data to improve our product and fix bugs, but it doesn't involve any of your personal data. 

Your privacy is always protected! 🔒
			</string>
		</dict>
	</array>
</dict>
</plist>
